h1 {
    color: red;
}

.contact {
    color: darkmagenta;
}



img {
    border: solid black 3px;
    border-radius: 10px;
}

body {
    background-image: url(https://wallpapers.com/images/featured/pattern-4u7ed6koskqhcez1.jpg);

}

p,
h1,
h2 {
    color: white;
}

.britannica {
    background: rgb(46, 165, 206);
    background: linear-gradient(90deg, rgba(46, 165, 206, 1) 33%, rgba(14, 0, 173, 1) 68%);
    text-align: center;
    width: fit-content;
    text-align: center;
    border-radius: 10px;
}