body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maindiv {
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 1rem;
    gap: 1rem;
    padding-bottom: 0;
}

label {
    visibility: hidden;
    transition: transform 1s ease-in-out;
    animation-fill-mode: forwards;
}

input {
    padding: 0.7rem;
    border: 4px solid transparent;
}

input:hover {
    border: 4px solid rgb(17, 110, 141);

}

input:focus+label {
    visibility: visible;
    transform: translateY(-10px);
}

button {
    width: min-content;
    padding: 0.5rem;
    background-color: rgb(88, 43, 166);
    color: white;
}

img {
    width: 30px;
    align-self: flex-end;
    margin-top: -40px;
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);

    }
}