@keyframes show {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }

}

* {
    opacity: 0;
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

body {
    background-image: url(https://wallpapers.com/images/featured/pattern-4u7ed6koskqhcez1.jpg);
    cursor: url(Images/rocket-svgrepo-com.svg) 40 10, auto;
    font-family: Nosifer;
    margin: 1em 10% 0 10%;
    color: white;

}

a,
li {
    list-style: none;
    color: white;
    text-decoration: none;
    cursor: inherit;
}

a {
    color: blueviolet;
}

.card {
    background: rgb(46, 165, 206);
    background: linear-gradient(90deg, rgba(46, 165, 206, 1) 33%, rgba(14, 0, 173, 1) 68%);
    border-radius: 10px;
    border: 3px solid transparent;
    margin: 2rem 0;
    text-align: center;
}

section:hover {
    border: 3px solid white;
}

button {
    background-color: aqua;
    border-radius: 10px;
    padding: 14px 28px;
    cursor: inherit;
    font-family: inherit;
}

button:hover {
    background: rgb(46, 165, 206);
    background: linear-gradient(90deg, rgba(46, 165, 206, 1) 33%, rgba(14, 0, 173, 1) 68%);
}

nav {
    text-align: center;
}

.unorderedlist {
    padding: 0px;
}

.firstrow {
    background-color: gray;
}

.unorderedlist li {
    display: inline;
}

input {
    background-color: black;
    border-radius: 10px;
    padding: 1em;
    width: 50%;
    cursor: inherit;
    font: inherit;
}

textarea {
    background-color: indigo;
    width: 50%;
    border-radius: 10px;
    font: inherit;
    cursor: inherit;
}

footer {
    text-align: center;
}

table,
th,
td {
    border: 3px inset black;
    margin: auto;
    text-align: center;
}

h1 {
    color: white;
    text-align: center;
}