body {
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
}

.left {
    background-color: gray;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding: 25px;
    height: 100vh;
    flex-wrap: nowrap;
}

.pinned {
    width: 100%;
    padding: 30px;
}

.javascript {
    background-color: red;
    color: white;
    padding: 2px;
}

img {
    width: 50px;
}

p {
    width: 70%;
}

.blog {
    display: block;
}

.break {
    display: block;
}

button {
    width: 40%;
    background-color: gray;
    color: white;
    border: 1px solid white;
    margin: 1px;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.css {
    background-color: green;
    color: white;
    padding: 2px;
}

.html {
    background-color: blue;
    color: white;
    padding: 2px;
}



.name {
    color: blue;
}